@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  list-style: none;
}

.create {
  display: block;
  text-align: center;
  padding-top: 10%;
}

.container {
  display: block;
  text-align: center;
}

.one {
  color: red;
}

.two {
  color: blue;
}

.card {
  display: block;
  max-width: 400px;
}